body {
    text-align: center;
    background-color: #eef2f5;
}

h1 {
    font-family: Monoton;
    font-size: 3.5em;
    margin: 0.2em;
    color: #6b1060;
}

h2 {
    margin: 1em 0 0.25em;
    color: #0e304e;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    overflow: hidden;
    border-collapse: collapse;
    margin: 0 auto;
    width: 450px;
    height: 450px;
    background-color: #e4eadc;
    -webkit-border-radius: 14px;

-moz-border-radius: 14px;

border-radius: 14px;

-webkit-box-shadow: 0px 0px 3px #000000;

-moz-box-shadow: 0px 0px 3px #000000;

box-shadow: 0px 0px 3px #000000;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}
/* #pixelCanvas{
    width: 40vw;
} */

input[type=number] {
    border: none;
    width: 6em;
    border-radius: 10px;
    padding: 3px 5px;
    -webkit-box-shadow: 0px 0px 3px #000000;

-moz-box-shadow: 0px 0px 3px #000000;

box-shadow: 0px 0px 3px #000000;
}
input[type=submit]{
    background-color: #4a6131;
    color: #eef2f5;
    border: none;
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 1.1em;
    -webkit-box-shadow: 0px 0px 3px #000000;

-moz-box-shadow: 0px 0px 3px #000000;

box-shadow: 0px 0px 3px #000000;
}
input[type=submit]:hover{
    background-color: #5a8a27;
    transition: 0.4s;
}

.container{
    width: 60%;
    margin: 0 auto;
    padding: 10px 0px;
    -webkit-border-radius: 14px;

-moz-border-radius: 14px;

border-radius: 14px;

-webkit-box-shadow: 0px 0px 3px #000000;

-moz-box-shadow: 0px 0px 3px #000000;

box-shadow: 0px 0px 3px #000000;
background-color: #e4eadc;
}